* {
  box-sizing: content-box;
}


.btn-group button {
  background-color: #ecf3f5; 
  border: 4px solid #02bb08; /* Green border */
  color: white; /* White text */
  padding: 20%; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 400%; /* Set a width if needed */
  display: block;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #FFA500;
}

button a {
  display: block;
  color: #000;
  padding: 8px 16px;
  font-family: 'impact';
  font-size: large;
}

button {
  text-align: center;
  margin: 2px;
  padding: 2px;
  height: 20%;
  width: 60%;
  border-bottom: 1px solid #555;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c4edfc;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(5, 3, 3);
  font-family: 'Impact';
  font-size: large;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #FFA500;
}

section {
  position: absolute;
  top: 24%;
  left: 42%;
}

  .container {
    margin-top: 5%;
    margin-left: 5%;
  }

.Alex {
    position: absolute;
    margin-left: 5%;
    bottom: 60%;
    border-style: solid;
    border-width: thick 10px;
    border-color: #02bb08;
    height: 30%;
    width: 20%;
    background-image: url("/imgs/Alexsittin1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  } 

  .orangeOne {
  flex: 2 1 ;
  position: relative;
  height: 50%;
  width: 50%;
  top: 22%;
  left: 37%;
  background-image: url("/imgs/orange.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: -1;
  }

  .five-pointed-star {
    --star-color:#02bb08;
    margin:1em auto;
    font-size:4em;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);
   }
   .five-pointed-star:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content:"";
    transform: rotate(-35deg);
   }
   .five-pointed-star:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content:"";
   }

   .starContainer {
    position: relative;
    top: -1%;
    left: -6%;
    z-index: -1;
   }

   .starContainerTwo {
    position: relative;
    top: -56%;
    left: 30%;
    z-index: -1;
   }

   .starContainerThree {
    position: relative;
    top: -90%;
    left: -24%;
    z-index: -1;
   }

   .starContainerFour {
    position: relative;
    top: -78%;
    left: -44%;
    z-index: -1;
   }

   .aboutmeContainer {
    position: absolute;
    bottom: 4%;
    left: 2%;
    height: 40%;
    width: 30%;
    background-color: #02bb08;
    opacity: 0.7;
    z-index: -2;
   }

   .nameCard {
    text-align: center;
    font-family: 'Cambria';
    font-weight: bold;
    color: white;
   }

   .aboutme {
    text-align: center;
    font-family: 'Cambria';
    font-weight: bold;
    font-size: large;
    color: white;
   }

   .contactH {
    color: white;
   }

   .alexStanding {
    position: absolute;
    top: 10%;
    left: 2%;
    border-style: none;
    height: 100%;
    width: 26%;
    background-image: url("imgs/IMG-3762.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: -1;
   }

   .contactContainer {
    position: absolute;
    left: 40%;
   }

   /* .formContainer {
    display: block;
   } */

   input[type=text] {
    display: block;
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #c4edfc;
    border-radius: 4px;
  }

  textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #c4edfc;
    border-radius: 4px;
  }

  input[type=reset] {
    width: 40%;
    font-family: 'Cambria';
    font-weight: bold;
    background-color: #c4edfc;
  }

  input[type=submit] {
    width: 40%;
    font-family: 'Cambria';
    font-weight: bold;
    background-color: #c4edfc;
  }